body,
html {
  height: 100vh;
  width: 100%;

  margin: 0;
}

.outer-class {
  margin-top: 25px;
  margin-left: 30px;
  display: flex;
  gap: 20px;
  width: 100%;
  height: auto;
  box-sizing: border-box;
}

.PlayerClass {
  width: 615px;
  height: 155px;
  flex-shrink: 0;
  position: relative;
}

.inner-div {
  position: absolute;
  width: 615px;
  height: 110px;
  background-color: #1c1c1c;
  bottom: 0;
  display: flex;
  gap: 10px;
  border-radius: 5px;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 170px; /* i mean that's on figma */
}

.greeting {
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.description {
  font-size: 13px;
  color: #bbbbbb;
}

.description b {
  color: #ffffff;
}

.pl-icon {
  width: 155px;
  height: 155px;
  background-size: cover;
  background-position: center;
  bottom: 0px;
  position: absolute;
  transform: scaleX(-1);
}

.leftPart {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: auto;
}

.UserData {
  width: 615px;
  height: 60px;
  display: grid;
  gap: 15px;
  flex-shrink: 0;
  grid-template-columns: 1fr 1fr;
}

.UserSection {
  width: 300px;
  height: 60px;
  background-color: #1c1c1c;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.BTClass {
  display: flex;
  flex-direction: column;
  margin-right: auto;
  justify-content: center;
  margin-left: 15px;
}

.UserBTValue {
  color: white;
  font-size: 16px;
  font-weight: bold;
}

.UserBTDec {
  color: #8e8e8e;
  font-size: 16px;
}

.UserImage {
  width: 35px;
  height: 35px;
  background-size: cover;
  background-position: center;
  bottom: 0px;
  margin-right: 15px;
}

.rightDivvv {
  width: 300px;
  height: 186px;
  background-color: #1c1c1c;
  border-radius: 5px;
  align-self: flex-start;
  margin-top: 45px;
}

.SeasonNews {
  width: 615px;
  height: 236px;
  background-color: #1c1c1c;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

.imgstuff {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0.8;
  filter: blur(2px);
}

.content {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.SeasonNewsLaunchContent {
  width: 95%;
  height: 45px;
  background-color: #6969697c;
  border-radius: 5px;

  margin-top: auto;
  margin-bottom: 15px;

  display: flex;
  align-items: center;
  justify-content: center;
  
}

.SeasonNewsLaunchClock {
  margin-top: 15px;
  margin-left: 15px;
  width: 70px;
  height: 25px;
  background-color: #00000077;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.OuterSeasonNewsLaunchClock {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.SeasonNewsInfo {
  margin-top: 5px;
  width: 95%;
  display: flex;
  flex-direction: column;
}

.SeasonNewsInfoName {
  font-size: 16px;
  font-weight: bold;
}

.SeasonNewsInfoSeason {
  font-size: 24px;
  font-weight: bold;
  color: #FF0429;
}

.SeasonNewsInfoDec {
  width: 80%;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.highlight {
  color: #FF0429;
}

.SeasonNewsLaunchContentInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.GameName {
  margin-left: 15px;
  font-size: 16px;
  font-weight: bold;
}

.GameVersion {
  margin-left: 5px;
  font-size: 12px;
  color: #cecece;
}

.SeasonNewsLaunchContent a {
  width: 115px;
  height: 30px;
  background: linear-gradient(0deg, #d9d9d9 0%, #b7b7b7 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 5px;
  margin-left: auto;
  margin-right: 15px;
}

.AllNews {
  margin-left: 30px;
  width: 100%;
  box-sizing: border-box;
}

.AllNewsGrid {
  display: grid;
  gap: 15px;
  grid-auto-flow: row;
  grid-template-columns: repeat(auto-fill, 300px);
  width: 100%;
  box-sizing: border-box;
  padding-bottom: 20px;
}

.AllNewsGridItem {
  position: relative;
  width: 300px;
  height: 185px;
  background-color: #1c1c1c;
  border-radius: 10px;
  background: url('https://cdn2.unrealengine.com/30comp-in-game-blastberry-tile-1920x1080-1920x1080-fb4334c0990a.jpg')
    center center / cover no-repeat;
}

.AllNewsGridItem::after {
 
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  border-radius: 10px;
  transition: background 0.3s ease;
}

.AllNewsGridItem:hover::after {
  
  background: rgba(0, 0, 0, 0.5);
}

.NewsGridContent {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  color: white;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 1;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.AllNewsGridItem:hover .NewsGridContent {
  opacity: 1;
  
}

.badge {
  position: absolute;
  color: white;
  font-size: 12px;
  width: 50px;
  height: 15px;
  left: 8px;
  top: 6px;
  background: linear-gradient(270deg, #5bb0ff 0%, #77e6ff 100%);
  border-radius: 5px;
  text-align: center;
  z-index: 1;
}

.NewsGridContent h3 {
  font-size: 32px;
  margin-bottom: 5px;
}

.NewsGridContent p {
  font-size: 16px;
  color: #C6C6C6;
  margin-top: 0;
}
