body,
html {
  height: 100%;
  margin: 0;
  background-color: #121212;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* bro lil jump */
#app {
  height: 100%;
}
/*#app {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}*/

.loading-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loading-screen {
  font-size: 30px;
  font-weight: bold;
  pointer-events: none;
  user-select: none;
  
}
